# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\jorda\Desktop\Ariel\Chana 2\Semestre א\Tihnout Mounhe Atsamim\Ariel_OOP_2020\Classes\week_08\TA\simon_group\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
